@{
    ViewData["Title"] = "Home Page";
}
@if (User.Identity.IsAuthenticated)
{
   <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/Resume/Create">Create CV</a>
</div> 
}

