@model bool
@{
    string username = User.Identity.Name;
}

<h1>Welcome @username</h1>
@if ( Model){
    <a href="~/Resume/Create" class="btn btn-primary">Create CV</a>
}
else{
<a href="~/Resume/Show" class="btn btn-primary">Show/Edit CV</a>
}


<a href="#" class="btn btn-primary">Select Template</a>